[submodule "ext/log"]
	path = ext/log
	url = git@github.com:to9/embedded-log.git
[submodule "ext/json"]
	path = ext/json
	url = git@github.com:rafagafe/tiny-json.git
[submodule "ext/jsonmaker"]
	path = ext/jsonmaker
	url = git@github.com:rafagafe/json-maker.git
